@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');


:root{
    --colorTitulo: hsl(0, 0%, 91%);
    --colorsecundario : #353A40;
    --colorComprar: #29A744;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

header {
    height: 10vh;
}

.logo1 img {
    width: 8vw;
}

nav {
    background-color: var(--colorsecundario);
    color: var(--colorTitulo);
}

.nav-link {
    color: #9da6b1;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: white;
}

.comprar {
    color: #29A744;
}

.navbar {
    height: 10vh;
    padding: 20px;
}

.navbar h2 {
    font-weight: 300;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.carousel-item {
    filter: brightness(0.3);
}
.carousel-control-next {
    right: 0;
    z-index: 0;
}

.titulo {
    position: absolute;
    top: 65vh;
    left: 40vw;
    text-align: end;
    padding-right: 15vh;
}

.titulo h1, h4 {
    color: var(--colorTitulo);
}

.btnSec {
    padding: 20px;
    margin-left: 50px;
    font-size: 1.5rem;
    background-color: transparent;    
    border-radius: 7px;
    border: 1px solid var(--colorTitulo);
    color: var(--colorTitulo);
}

.btnSec:hover {
    background-color: var(--colorTitulo);
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

#tickets {
    background-color: var(--colorComprar);
    color: black;
    border: black;
}

#tickets:hover {
    background-color: rgb(29, 65, 38);
    color: white;
    border: black;
    transition: 0.3s;
    cursor: pointer;
}

.sectionOradores span {
    font-weight: 300;
    font-size: 1rem;
}

.sectionOradores h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
}

.padreCard{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly ;
    margin-bottom: 50px;
    width: 65vw;
}

.card{
    width: 20rem;

}

.btn {
    margin-bottom: 15px;
    padding: 5px;
    border: 1px;
}

.lugarFecha {
    display: flex;
    width: 100%;
}

.lugarFecha img {
    width: 50%;
}

.lugarTexto {
    display: flex;
    background-color: #333A40;
    flex-direction: column;
    width: 50%;
    padding: 16px;
}

.lugarTexto p{
    color: white;
    line-height: 150%;
    font-size: 1rem;
    font-weight: 100;
}

.lugarTexto h2 {
    color: white;
    line-height: 150%;
    font-size: 2rem;
}

.lugarTexto button {
    text-align: center;
    margin: 2vh 35vw 0 0;
    font-size: 1.5rem;
    padding: 5px 20px;

}

/* .padreLugar {
    height: 60vh;
}

.lugarFecha{
    background-image: url(../assets/img/honolulu.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid white;
    height: 60vh;
}

.lugarTexto {
    background-color: var(--colorsecundario);
    border: 1px solid white;
    color: var(--colorTitulo);
    padding: 35px;
}

.btnConoce {
    padding: 10px;
    margin-left: 0;
} */

#conviertete h2 {
    text-align: center;
    margin-top: 5vh;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 2rem;
}

#conviertete #ventaTitulo {
    font-weight: 300;
    font-size: 1rem;
}

#conviertete h5 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    margin-bottom: 30px;
}

#conviertete a {
    text-decoration: none;
    border-bottom: 1px dotted black;
    color: black;

}

.formulario {
    display: block;
    width: 45%;
    margin: auto;
    height: 40vh;
    color: #6B747B;

}

.row {
    height: 7vh;
    --bs-gutter-x: 1rem;
    color: #6B747B;
}

.carrito {
    height: 45vh;
    --bs-gutter-x: 1rem;
    color: #6B747B;
}

.grupo-tickets {
    margin-top: 50px;
    height: 20vh;
    --bs-gutter-x: 1rem;
    color: #6B747B;
}

.row input {
    font-size: 1.5rem;
}

.compra select {
    font-size: 1.5rem;
}

.col input {
    color: #0479d3;
}

#floatingTextarea {
    height: 200px;
}

.btnEnviar {
    display: flex;
    gap: 20px;
}

.btnSummit {
    width: 100%;
    background-color: #96C93E;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;

}

.btnTickets{
    width: 50%;
    background-color: #96C93E;
    padding: 5px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    color: white;

}

.btnSummit:hover {
    background-color: rgb(29, 65, 38);
    color: white;
    border: black;
    transition: 0.4s;
    cursor: pointer;
}

.formulario h6 {
    margin: 5px;
}

.btnClean {
    width: 50%;
    background-color: rgb(179, 0, 0);
}

footer {
    width: 100%;
}

.finalPage {
    background: linear-gradient(90deg,#1c3643 0%, #1e5372 80%);
    /* height: 100%; */
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
    align-items: center;
}

.finalPage a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

/* CSS PAGINA COMPRA */

.compra {
    height: 22vh;
}

#precio span{
    gap: 20px;
    font-size: 1.5rem;
    font-weight: 400;
}

.mb-4 {
    font-size: 1.5rem;
}

#totalPago span{
    font-size: 2rem;
    font-weight: 700;
}


.formVenta {
    height: 60vh;
}

.compra {
    height: 25vh;
}



@media only screen and (max-width: 768px) {

    .navbar{
        position: initial;
    }

    .navbar-expand-lg .navbar-collapse {
        background-color: #353A40;
        text-align: center;
    }
    
    .lugarTexto button {
        margin: 2vh 0 0 0
    } 

    .lugarFecha img {
        width: auto;
    }

    .lugarTexto {
        width: auto;
    }

}

@media only screen and (max-width: 1200px){

    .navbar{
        position: initial;
    }

    .padreCard {
        flex-direction: column;
        align-items: center;
    }

    .card {
        margin-bottom: 20px;
    }

    .padreCard p {
        white-space: nowrap;
        overflow: scroll;
    }
    .titulo {
        position: initial;
        background-color: #353A40;
        text-align: center;
        padding: initial;
    }

    .titulo h4 {
        margin: 20px;
    }

    #navbarNav {
        z-index: 1;
    }

    .btnTitulo {
        display: flex;
        padding: 20px;
        flex-direction: column;
    }

    .btnSec {
        padding: initial;
        margin-top: 15px;
        margin-left: 5px;

    }

    .lugarFecha {
        width: 100%;
        flex-direction: column;
    }

    .lugarFecha img {
        width: auto;
    }

    .lugarTexto {
        width: auto;
    }

    .formulario {
        width: 90%;
    }

    #conviertete {
        height: 65vh;
    }

    .finalPage {
        flex-direction: column;
    }
}   

@media only screen and (max-width: 1024px){
    .lugarTexto button  {
        margin: 2vh 0 0 0;
    }

    .lugarTexto p {
        font-size: 1.5rem;
    }
  
}

@media only screen and (max-width: 1440px){
    .titulo {
        top: 55vh;
    }

    #conviertete {
        height: 65vh;
    }

    .padreCard {
        width: auto;
    }
}