@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,400&display=swap');


:root{
    --colorTitulo: hsl(0, 0%, 91%);
    --colorsecundario : #353A40;
    --colorComprar: #29A744;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.logo1 img {
    width: 8vw;
}

nav {
    background-color: var(--colorsecundario);
    color: var(--colorTitulo);
}

.nav-link {
    color: #9da6b1;
    font-size: 1.3rem;
}

.nav-link:hover {
    color: white;
}

.comprar {
    color: #29A744;
}

.navbar {
    height: 10vh;
    padding: 20px;
}

.navbar h2 {
    font-weight: 300;
}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
}

.carousel-item {
    filter: brightness(0.3);
    z-index: -1;
}

.titulo {
    position: absolute;
    top: 65vh;
    left: 40vw;
    text-align: end;
    padding-right: 15vh;
}

.titulo h1, h4 {
    color: var(--colorTitulo);
}

.btnSec {
    padding: 20px;
    margin-left: 50px;
    font-size: 1.5rem;
    background-color: transparent;    
    border-radius: 7px;
    border: 1px solid var(--colorTitulo);
    color: var(--colorTitulo);
}

.btnSec:hover {
    background-color: var(--colorTitulo);
    color: black;
    transition: 0.3s;
    cursor: pointer;
}

#tickets {
    background-color: var(--colorComprar);
    color: black;
    border: black;
}

#tickets:hover {
    background-color: rgb(29, 65, 38);
    color: white;
    border: black;
    transition: 0.2s;
    cursor: pointer;
}

.sectionOradores span {
    font-weight: 300;
    font-size: 1rem;
}

.sectionOradores h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 2rem;
}

.padreCard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card{
    width: 18rem;
}

.btn {
    height: 4vh;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px;
}

@media only screen and (max-width: 768px) {

    .navbar{
        position: initial;
    }

    .navbar-expand-lg .navbar-collapse {
        background-color: var(--colorTitulo);
    }

}

@media only screen and (max-width: 1200px){

}